<figure class="{{ include.class }}" style="width:{{include.width | default: '40%'}}">
  <a class="image" href="{{ site.baseurl }}/essays/images/{{ include.image-url }}"><img src="{{ site.baseurl }}/essays/images/{{ include.image-url }}" alt="{{ include.caption }}" width="100%"></a>

  {% if include.source-url %}

  {% capture full-caption %}
    {{ include.caption }} [<a href="{{ include.source-url }}">source</a>]
  {% endcapture %}

  {% else %}

  {% capture full-caption %}
    {{ include.caption }}
  {% endcapture %}

  {% endif %}

<figcaption class="{{ include.class }}">
  {{ full-caption }}
</figcaption>
</figure>
