
{% for item in include.nav %}
  {% if item.section %}
    </ul>
    <li class="navigation-section">{{item.section}}</li>
    <ul>
  {% else %}
    <li class="navigation-list-item {% if item.url == page.url %}active{% endif %}">
      {% if item.url contains "http" %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
    </li>
  {% endif %}

{% if item.subnav %}
  {% include nav.html nav=item.subnav %}
{% endif %}
{% endfor %}
