@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');
@media screen {
/*****************************************************
TYPOGRAPHY
*****************************************************/

body {
  font-family: 'EB Garamond', sans-serif;
  background-color: #fefefe;
}

.side-bar, .site-title {
  background-color:#eee;
}

main {
  margin: 0 1.5%;
}

.navigation {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.5em;
  max-width:60em;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  margin: 1rem 0 .4rem 0;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Abril Fatface', sans-serif;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
  margin-top:2rem;
  text-transform:uppercase;
  font-weight:bold;
}

h4 {
  font-size:1.1rem;
}

h5 {
  font-size:1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 2em 0rem;
  padding: 0;
  clear:both;
}

p.abstract {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  margin: 3rem 0 4rem 0em;
  color:#666;
}

.author {
  font-family: 'Open Sans', sans-serif;
  margin: .5em 0 0em 0;
  text-transform: uppercase;
  color:#666;
  font-size: 1rem;

}

a, a:visited {
  color: #720026;
  font-weight:bold;
}

a:hover {
  text-decoration:none;
}

ul {
  margin-bottom:1.4em;
}

li {
  margin-bottom:.4em;
  font-size:1rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

aside.pullquote {
  border-top:.3rem solid #333;
  border-bottom:.3rem solid #333;
  margin-bottom:1rem;
}

aside.pullquote p{
  font-family:'Oswald';
  font-size:1.5rem;
  padding: 1rem;
  line-height:1.8rem;
  text-align:left;
  margin-bottom:0;
}

aside.aside-right {
float:left;
margin-left:64%;
}

aside.aside-left {
float:left;
left:0;
margin:0 1rem 0 0;
margin-top:.6rem;
}

blockquote p {
  color:#666;
  font-style:italic;
  font-size:120%;
  line-height:120%;
}

/*****************************************************
IMAGES
*****************************************************/

.jumbotron {
  margin-bottom: 2rem;
  opacity:.6;
  background-position: 0% 25%;
  text-align:center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  //text-shadow: black 0.3em 0.3em 0.3em;
  max-height: 60%;
  }

  .jumbotron p {
    text-align:center;
  }


figure {
  clear:none;
  margin-bottom:1rem;
  /* no bottom padding; handled with caption */
}

.img-right {
  float:right;
  padding:0 0px 0px 1.2rem;
  text-align:left;
}

.img-left {
  float:left;
  padding:0 1.2rem 0px 0px;
}

.img-center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

figcaption {
  margin:.4rem 0 0rem 0;
  text-align: justify;
  clear:both;
}

figcaption.img-right {
  padding:0 0px 0px 0rem;
}

figcaption.img-left {
  padding:0;
}

figcaption.img-center {
  text-align:justify;
  padding:0;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  color:#888;
  display:block;
  line-height: .9rem;
  margin:0;
}




/*****************************************************
Table of Contents
*****************************************************/

#sheetrock {
  display:none;
}

.cards {
  font-size:14px;
  border:0px solid gray;
  overflow:hidden;
}

.cards a {
  color:#333;
  font-weight:normal;
  white-space:normal;
}

.cards a.hover: {
  background:#ff0000;
}

.cards .row {
  max-height:12rem;
  overflow:hidden;
}

.cards .row:hover {
}


.cards img {
float:right;
}

.cards div{
}

.cards h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:1.2rem;
  margin-top:0;
  text-transform:uppercase;
  font-weight:bold;
}

.cards p {
  font-family: 'Open Sans', sans-serif;
  font-size:.9rem;
  line-height:1.3rem;
}


/*****************************************************
IMAGE CAROUSEL
*****************************************************/
.carousel {
  height: 600px;
  overflow:hidden;
}


.carousel-caption h5 {
  font-family: 'Open Sans', sans-serif;
  font-size:2.5rem;
  text-transform:uppercase;
  text-align:center;
}

.carousel-caption p {
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
}

.carousel-caption {
  top:2rem;
}

} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

@media (max-width: 768px) {


  main {
    margin: 0 1.5%;
  }

  aside {
    position:relative;
    width:100%;
    padding: .4em;
    border:1px solid #ccc;
    background:#fefefe;
    margin-bottom:1em;
  }

  aside.aside-right {
    margin-left:0;
    left:0;
    width:100%;
  }

  aside p {
    margin:0;
  }

}


@media print {

.side-bar {
  display:none;
}

a[href]:after {
  content: " (" attr(href) ")";
  display:none;
}

body {
  font-size: 13pt;
  font-family: 'EB Garamond', sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  margin: 1rem 0 .4rem 0;
}


p {
  line-height:2em;
}


h1 {
  font-size: 4rem;
  font-family: 'Abril Fatface', sans-serif;
}

.home-title h1 {
  font-family: 'Abril Fatface', sans-serif;
  color:#fff;
  font-size: 4em;
  margin-top: -1.2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.4rem !important;
  margin-top:2rem;
  text-transform:uppercase;
}

h4 {
  font-size:1.1rem !important;
}

h5 {
  font-size:1rem !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 2em 0rem;
  padding: 0;
  clear:both;
}

p.abstract {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  margin: 3rem 0 4rem 0em;
  color:#666;
}

.author {
  font-family: 'Open Sans', sans-serif;
  margin: .5em 0 0em 0;
  text-transform: uppercase;
  color:#666;
  font-size: 1rem;

}

a {
  color: #720026;
  font-weight:bold;
}

a:visited {
 color: #CE4257;
}

a:hover {
  text-decoration:none;
}

ul {
  margin-bottom:1.4em;
}

li {
  margin-bottom:.4em;
  font-size:1rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

aside.pullquote {
  border-top:.3rem solid #333;
  border-bottom:.3rem solid #333;
  margin-bottom:1rem;
}

aside.pullquote p{
  font-family:'Oswald';
  font-size:1.5rem;
  padding: 1rem;
  line-height:1.8rem;
  text-align:left;
  margin-bottom:0;
}

aside.aside-right {
float:left;
margin-left:64%;
}

aside.aside-left {
float:left;
left:0;
margin:0 1rem 0 0;
margin-top:.6rem;
}

blockquote p {
  color:#666;
  font-style:italic;
  font-size:120%;
  line-height:120%;
}


jumbotron {
  margin-bottom: 2rem;
  opacity:.6;
  background-position: 0% 25%;
  text-align:center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  //text-shadow: black 0.3em 0.3em 0.3em;
  max-height: 60%;
  }

  .jumbotron p {
    text-align:center;
  }


figure {
  clear:none;
  margin-bottom:1rem;
  /* no bottom padding; handled with caption */
}

.img-right {
  float:right;
  padding:0 0px 0px 1.2rem;
  text-align:left;
}

.img-left {
  float:left;
  padding:0 1.2rem 0px 0px;
}

.img-center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

figcaption {
  margin:.4rem 0 0rem 0;
  text-align: justify;
  clear:both;
}

figcaption.img-right {
  padding:0 0px 0px 0rem;
}

figcaption.img-left {
  padding:0;
}

figcaption.img-center {
  text-align:justify;
  padding:0;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  color:#888;
  display:block;
  line-height: .9rem;
  margin:0;
}


@page {
  margin: 3cm 3cm;
}
